<!DOCTYPE html>
<html>
<title>
    Duck Duck Groups
</title>
<head>
</head>
<body>
    <script src="../static/utils.js"></script>
    <div style="overflow: hidden; white-space: nowrap" align="center">
        <h1>Duck Duck Groups</h1>
        <h2>Creating Project Groups of 3 Since 2017</h2>
    </div>

    <div id="menuBar" style="white-space: nowrap" align="center"><p>Select CSV File</p>
        <input type="file" id="csvFileEntry"/>
    </div>

    <div align="center">
        <button id="uploadButton">Upload CSV</button>
    </div>

    <div id="generateTeams" style="display: none;" align="center">

        <p>Use the sliders to adjust how much you value a criterion (1:'Trivial criteria', 10:'Of utmost importance')</p>
        <br>
        {% for criterion in session.num_criteria %}
        <div>{{ criterion }}:
            <form name="slider">
                <input type="range" name="ageInputName" id="ageInputId" value="5" min="0" max="10" step="1" oninput="ageOutputId.value = ageInputId.value">
                <output name="ageOutputName" id="ageOutputId">5</output>
            </form>
        </div>
        {% endfor %}
        <br>
        <br>
        {% if session.criteria_count >0 %}
            <p>Groups of 3 (with at most two groups of 4)<p></p>
        <div align="center">
            <button id="generateGroupsButton">Generate Groups</button>
        </div>
        {% endif %}
    </div>

    <div id="outputArea" style="display: none;" align="center">
      {% for group in session.groups %}
      Team {{group[0]}}: {{group[1][1:-2]}}
      <br>
      {% endfor %}

    </div>
    <div id="regenerateGroupsButton" align="center" style="display: none;">
        <button style="font-size: 80px">I've adjusted the weights. Regenerate groups.</button>
    </div>

    <div id="errorDisplay" align="center">
        <p id="invalidFileExtensionError" class = "error" style="display: none; color: red">Please select a CSV file</p>
    </div>

</body>
</html>
